* {
    margin: 0;
    padding: 0;
}

@media only screen and (orientation: landscape){

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px gray;
    width: 550px;
    margin: 10px;
    padding-bottom: 30px;
}

figure img {
    width: 100%;
    height: 350px;
}

}